body{
    background-color:rgba(250, 150, 150,0.8)
}
#profilepicture{
    
}
.layout{
    color:#5959;
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(150, 150, 150,0.8)
}
